# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Git
.git/

# Raw datasets
data/raw/
data/archive/

# Processed datasets
data/processed/

# Models
*.pkl

# Logs
*.log

# Large files
*.cdf
*.csv
*.zip

# OS
.DS_Store
Thumbs.db